* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.game {
    float: left;
    width: 25%;
    padding: 10px;
    transition: color 0.5s;
    background-color: #181818;;
    color: #ffffff;
}
.game:hover {
    transition: color 0.5s;
    background-color: #ffffff;
    color: #000000;
}
/* Clear floats after the columns */
.games:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .game  {
        width: 33.33%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .game  {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .game  {
        width: 100%;
    }
} 