/*
Note:
My WebSite's Home Page, About Me Page And Project Pages Uses One CSS File,
So Any Changes Made Will Effect All Mentioned Pages
*/


/*Effects The Whole Page*/
html{
    background-color: #181818;
    scroll-behavior: smooth;
  }
  
  
  /*All Pages*/
  
  /*Header*/
  .header{
    /*No Styles Yet*/
  }
  
  
  /*Styles For The Title (My Name / All h1 text)*/
  h1{
    font-size: 5rem;
    transition: color 1s;
    color:#a52a2a;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  
  h1:hover {
    color: #d3d3d3;
  }
  
  /*Styles For The Links To The Pages*/
  .pages{
    padding: 10px 15px;
    font-size:1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #aaaaaa;
    background-color: #a52a2a;
    box-shadow: 0 9px #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 0 5px;
    transition: color 0.5s;
    color: #d3d3d3;
  }
  
  .pages:hover {
    color: #aaaaaa;
    background-color: #a52a2a;
    box-shadow: 0 9px #ffffff;
  }
  
  .pages:active {
    color: #aaaaaa;
    background-color: #892222;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
  }
  
  
  /*links*/
  a{
    transition: color 0.5s;
    color: #aaaaaa;
  }
  
  a:hover {
    transition: color 0.5s;
    color: #ffffff;
  }
  
  
  /*Styles For Social Links*/
  .footer{
    margin-bottom: 0px;
  }
  
  .footer-content{
    /*Every thing Bellow The Footer Line*/
  }
  
  .social{
    color: #aaaaaa;
    transition: color 0.5s;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .social :hover{
    color: #ffffff;
  }
  
  /*Setings For The ion icon*/
  ion-icon {
    font-size: 32px;
  }
  
  
  /*Styles For Individual Pages*/
  /*Home-Page*/
  .Home-PFP {
    margin-left:2%;
    float:right;
  }
  
  .Home-Blurb {
    color: #ffffff;
    width: 75%;
    margin: 0;
  }
  
  
  
  /*AboutMe-Page*/
  .AboutMe-Blurb {
    color: #ffffff;
  }
  
  
  
  /*Projects-Page*/
  .Projects-Blurb {
    color: #ffffff;
  }
  
    * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .Projects-column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .Projects-row:after {
    content: "";
    display: table;
    clear: both;
  }
  



  /*Test-Page*/
  .Test-Blurb {
    color: white;
  }
  
  
  
  /*Some Styles For Projects Page Divs .gameName, .aboutGame and .games*/
  .gameName, .aboutGame, .games{
    color: #ffffff;
  }
  


